  nav {
  width: 73%;
}

ul {
  width: 50%;
  margin-left: auto;
}

footer {
  background-color: #373738;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}

.heroImg {
  height: 600px;
  padding: 25px;;
}

.content {
width: 500px;
margin: 0 auto;
}

.footer-ui {
  display: inline-block;
  vertical-align: top;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.flexContainer > div {
  width: 33%;
  padding: 20px;
}

.img-page {
  max-width: 300px;
}

.item1 {
  grid-area: 'myArea1';
}
.item2 {
  grid-area: 'myArea2';
}
.item3 {
  grid-area: 'myArea3';
}
.item4 {
  grid-area: 'myArea4';
}
.item5 {
  grid-area: 'myArea5';
}
.item6 {
  grid-area: 'myArea6';
}

.workGrid {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "myArea1 myArea2"
    "myArea3 myArea4"
    "myArea5 myArea6"
    ;
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }

  .workGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
    "myArea1"
    "myArea2"
    "myArea3"
    "myArea4"
    "myArea5"
    "myArea6"
    ;
  }
}